{% extends "home-base.html" %}

{% block title %}
Edit Car
{% endblock %}

{% block head%}
  {{super()}}
  <style>
    body {
      padding-top: 54px;
    }
  </style>
{% endblock %}

{% block page_content %}
<div class="container">
   <h1 class="mt-5"><i class="fa fa-car" aria-hidden="true"></i> Edit Car:</h1>
  <form action="/car/edit/{{car.id}}" method="post">
    <div class="form-group">
      <label>Model</label>
      <input class="form-control" type="text" name="model" value="{{car.model}}" required="true">
    </div>
    <div class="form-group">
    <label>Car Type</label>
    <input class="form-control" type="text" name="cartype" value="{{car.cartype}}" required="true">
  </div>
  <div class="form-group">
  <label>Year</label>
  <select class="form-control" name="year">
        {% for i in range(1970, 2021) %}
          {% if i == 2017 %}
            <option selected="selected">{{i}}</option>
          {% else %}
            <option>{{i}}</option>
          {% endif %}
        {% endfor %}
      </select>
</div>
<div class="form-group">
        <label>Manufacturer</label>
        <select class="form-control" name="manufacturer">
          {% for manufacturer in manufacturers %}
            {% if manufacturer == car.manufacturer %}
              <option selected="selected">{{manufacturer.name}}</option>
            {% else %}
              <option>{{manufacturer.name}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        Manufacturer not in the list? <a href="/manufacturer/add" class="btn btn-success" role="button" aria-disabled="true">Add Manufacturer</a>
      </div>
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" name="description" required="true">{{car.description}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
 </div>
{% endblock %}
