{% extends "home-base.html" %}

{% block title %}
All Cars
{% endblock %}

{% block head%}
  {{super()}}
  <style>
    body {
      padding-top: 54px;
    }
  </style>
{% endblock %}

{% block page_content %}
<div class="container">
   <h1 class="mt-5"><i class="fa fa-car" aria-hidden="true"></i> Car Directory</h1>
   <div class="row bottom-margin">
     <a href="/car/add" class="btn btn-primary" role="button" aria-disabeled="true">Add Car</a>
   </div>
{% if cars %}
<table class="table">
  <thead>
    <tr>
      <th>Car ID</th>
      <th>Model</th>
      <th>Car Type</th>
      <th>Year</th>
      <th>Description</th>
      <th>Manufacturer</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Ajax Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for car in cars %}
  <tr>
    <th scope="row">{{car.id}}</th>
        <td>{{car.model}}</td>
        <td>{{car.cartype}}</td>
        <td>{{car.year}}</td>
        <td>{{car.description}}</td>
        <td>{{car.manufacturer.name}}</td>
        <td>
         <a href="/car/edit/{{car.id}}" class ="btn btn-success" role="button" aria-disabled="true"> Edit</a>

       </td>
       <td><a href="/car/delete/{{car.id}}" class ="btn btn-danger" role="button" aria-disabled="true"> Delete</a></td>
       <td> <button class="btn btn-warning delete_ajax_btn" role="button" data-car-id={{car.id}}>Delete Ajax</button></td>
  </tr>
   {% endfor %}
 </tbody>
</table>
{% else %}
<h3>There are no cars in the directory yet.</h3>
{% endif %}
</div>
{% endblock %}

{% block scripts%}
{{super()}}
<script>
$(document).ready(function() {
$(".delete_ajax_btn").click(function(event) {
  var car_id = $(this).data("car-id");
  var row = $(this).parent().parent();
  swal({
      title: "Are you sure?",
      type: "warning",
      html: true,
      showCancelButton: true,
      confirmButtonColor: "#DD6B55",
      confirmButtonText: "Yes, delete it!",
      closeOnConfirm: false,
      showLoaderOnConfirm: true
    },
    function(isConfirm) {
      if (isConfirm) {
        $.ajax({
            type: "DELETE",
            url: "/api/cars/" + car_id,
            success: function(response) {
              console.log(response);
              row.remove();
              swal({
                title: "Deleted!",
                text: response.name + " has been deleted.",
                type: "success",
                timer: 2500,
                showConfirmButton: false
              });
            }
          })
          .fail(function(error) {
            swal({
              title: "Oops...",
              text: "Deletion failed",
              type: "error",
              timer: 2000,
              showConfirmButton: false
            });
          });
      }
    });
});
});
</script>

{% endblock%}
