{% extends "home-base.html" %}

{% block title %}
Homepage
{% endblock %}

{% block head%}
  {{super()}}
  <style>
    body {
      padding-top: 75px;
    }
    #intro {
      padding-top: 15px;
    }
  </style>
{% endblock %}

{% block page_content %}
<center><h1>Our Car Homepage</h1></center>

<div class="outer">
<center>
   <img src="{{ url_for('static', filename='img/bmw-gif.gif') }}"></center>
 </div><br>

 <div class="inner">
<center>
   <img src="{{ url_for('static', filename='img/giphy.gif') }}">
 </center>
 </div><br>

 <div class="outer">
<center>
   <img src="{{ url_for('static', filename='img/tesla-gif.gif') }}">
</center>
 </div>

{% endblock %}
