{% extends "home-base.html" %}

{% block title %}
All Manufacturers
{% endblock %}

{% block head%}
  {{super()}}
  <style>
    body {
      padding-top: 54px;
    }
  </style>
{% endblock %}

{% block page_content %}
<div class="container">
   <h1 class="mt-5"><i class="fa fa-users" aria-hidden="true"></i> Manufacturer Directory</h1>
  <div class="row bottom-margin">
    <a href="/manufacturer/add" class="btn btn-primary" role="button" aria-disabeled="true">Add Manufacturer</a>
  </div>
{% if manufacturers %}
  <table class="table">
    <thead>
      <tr>
        <th>Manufacturer ID</th>
        <th>Name</th>
        <th>Country</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Ajax Delete</th>
      </tr>
    </thead>
    <tbody>
  {% for manufacturer in manufacturers %}
  <tr>
        <th scope="row">{{manufacturer.id}}</th>
        <td>{{manufacturer.name}}</td>
        <td>{{manufacturer.country}}</td>
        <td>
          <a href="/manufacturer/edit/{{manufacturer.id}}" class ="btn btn-success" role="button" aria-disabled="true"> Edit</a>
        </td>
        <td><a href="/manufacturer/delete/{{manufacturer.id}}" class="btn btn-danger" role="button" aria-disabled="true"> Delete</a></td>
        <td><button class="btn btn-warning delete_ajax_btn" role="button" data-manufacturer-id={{manufacturer.id}}>Delete Ajax</button></td>
  </tr>
   {% endfor %}
 </tbody>
</table>
{% else %}
<h3>There are no manufacturers in the directory yet.</h3>
{% endif %}
</div>
{% endblock %}

{% block scripts%}
{{super()}}
<script>
  $(document).ready(function() {
    $(".delete_ajax_btn").click(function(event) {
      var manufacturer_id = $(this).data("manufacturer-id");
      var row = $(this).parent().parent();
      swal({
          title: "Are you sure?",
          type: "warning",
          html: true,
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Yes, delete it!",
          closeOnConfirm: false,
          showLoaderOnConfirm: true
        },
        function(isConfirm) {
          if (isConfirm) {
            $.ajax({
                type: "DELETE",
                url: "/api/manufacturers/" + manufacturer_id,
                success: function(response) {
                  console.log(response);
                  row.remove();
                  swal({
                    title: "Deleted!",
                    text: response.name + " has been deleted.",
                    type: "success",
                    timer: 2500,
                    showConfirmButton: false
                  });
                }
              })
              .fail(function(error) {
                swal({
                  title: "Oops...",
                  text: "Deletion failed",
                  type: "error",
                  timer: 2000,
                  showConfirmButton: false
                });
              });
          }
        });
    });
  });
</script>

{% endblock %}
