{% extends "home-base.html"%}
{% block title %}Team Project Members{% endblock %}

{% block head%}
  {{super()}}
  <style>
    body {
      padding-top: 75px;
    }
  </style>
{% endblock %}

{% block page_content%}
<h1> Team Members: </h1>
<ul>
<div class="outer">
   <center>
   <img src="{{ url_for('static', filename='img/parthpatel.jpg') }}" width="180" height="220">
<p>Parth Patel</p></center>
 </div><br>

 <div class="inner">
  <center>
   <img src="{{ url_for('static', filename='img/raveenawadhwa.jpg') }}" width="180" height="220">
 <p>Raveena Wadhwa</p></center>
 </div><br>

 <div class="outer">
   <center>
   <img src="{{ url_for('static', filename='img/georgethuku.jpg') }}" width="180" height="220">
 <p>George Thuku</p></center>
 </div>


</ul>


{% endblock%}
